body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    overflow-x: hidden;
}

h1{
    color:#f2d830;
    font-size: 35px;
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: max-content;
    padding: 0;
}


/* first child div of header element */

header>div:nth-child(1){
    background-color:#f2d830;
    font-weight:800;
    width: min-content;
    padding: 2px 6px;
    border-radius: 5px;
    font-size: 25px;
    height: max-content;
}

header>div>a{
    text-decoration: none;
    color: black;
}

/* second child div of header element */

header>div:nth-child(2){
    display: flex;
    align-items: center;
    width: max-content;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

/* first span child of div element of header */

header>div:nth-child(2)>span:first-child{
    color:  rgba(255, 255, 255, 0.3);
    transform: scale(1.2, 0.8);
    padding-right: 15px;
    width: 20px;
}

/* last span child of div element of header */
header>div:nth-child(2)>span:last-child{
    font-size: 15px;
}



header>div:nth-child(2):hover{
    background-color: rgb(43, 38, 38);
    color: white;
    /* LEFT = make the color of the icon beside menu white on hover */
}

/* third div of the header element */

header>div:nth-child(3){
    color: white;
    display: flex;
    width: 60%;
    align-items: center;
    font-size: 15px;
}

header>div:nth-child(3)>ul{
    padding-left: 0;
}

header>div:nth-child(3)>ul>label {
    list-style: none;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    padding: 5.5px 5px;
    border-top-left-radius: 5px; 
    border-bottom-left-radius: 5px;  
    border: 3px solid rgb(248, 197, 102);
    border-right: 1px solid gray;  
}



header>div:nth-child(3)>ul>ul {
    list-style: none;
    display: none;
}

header>div:nth-child(3)>ul>label:hover{
    cursor: pointer;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

header>div:nth-child(3)>ul>input{
    display: none;
}

/* checkbox logic */

header>div:nth-child(3)>ul>input:checked + ul{
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    background-color: rgb(34, 33, 33);
    margin-top: 4px;
    border-radius: 3px;
    padding-left: 0;
    justify-content: center;
    z-index: 1;
}


header>div:nth-child(3)>ul>ul>li:first-child{
   color:rgb(248, 197, 102);
}

header>div:nth-child(3)>ul>ul>li{
    padding: 15px;
    display: flex;
    align-items: center;
    width: 92%;
    font-size: 18px;
}

header>div:nth-child(3)>ul>ul>li:last-child{
    border-top: 1.5px solid rgb(90, 89, 89);

}


header>div:nth-child(3)>ul>ul>li:hover{
    background-color: rgba(128, 128, 128, 0.144);
    cursor: pointer;
}



header>div:nth-child(3)>ul>ul>li span:nth-child(2){
    padding: 0 15px;
}

header>div:nth-child(3)>ul>ul>li>a{
    color: white;
    text-decoration: none;
    display: flex;
}

header>div:nth-child(3)>input{
    padding: 8.4px;
    font-weight: 400;
    width: 100%;
    height: max-content;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border: 3px solid rgb(248, 197, 102);
    border-left: 0;
    padding-right: 35px;
    outline: none;
}

header>div:nth-child(3)>span{
    position: absolute;
    left: 73%;
    color: gray;
}

header>div:nth-child(4)>a{
    color: white;
    font-weight: 800;
    letter-spacing: -1px;
    padding: 10px;
    
}

header>div:nth-child(4)>a:hover{
    border-radius: 5px;
    background-color: rgb(43, 38, 38);
}

header>div:nth-child(4)>a:hover + section{
    display: flex;
    color: white;
}



header>div:nth-child(4)>section{
    display: none;
    position: absolute;
    left: 35%;
    right: 18%;
    background-image: linear-gradient(black, rgba(6, 2, 56, 0.582) 70%, rgba(8, 49, 68, 0.801) 100%),url("/images/galaxy-background.jpg");
    padding: 30px;
    border-radius: 5px;
    margin-top: 10px;
    height: max-content;
}

header>div:nth-child(4)>section>img{
    width: 150px;
    height: 170px;
    border-radius: 5px;
    align-items: flex-start;

}


header>div:nth-child(4)>section>div{ 
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

header>div:nth-child(4)>section>div>p{
    margin-top: 0;
}

header>div:nth-child(4)>section>div>ul{
    margin-top: 0;
    padding-left: 0;
    margin-left: 15px;
}

header>div:nth-child(4)>section>div>ul>li{
    padding-bottom: 10px;
}

header>div:nth-child(4)>section>div>ul>li:last-child{
    padding-bottom: 0;
}

header>div:nth-child(4)>section>div>div{
    background-color: #f2d830;
    color: black;
    font-weight: 300;
    padding: 10px;
    border-radius: 5px;
    width: 40%;
    display: flex;
    justify-content: center;
}


header>div:nth-child(5){
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-left: 2px solid gray;
    color: white;
    width: 15%;
    height: max-content;
}

header>div:nth-child(5)>div>a{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

header>div:nth-child(5)>div:first-child>a>span:first-child{
    padding-right: 10px;
}


/* main */


main>div:first-child{
    display:flex;
    flex-direction: column;
    align-items: center;
}

main>div:first-child>a>img{
    margin-top: 10px;
}

main>div:first-child>div{
    display: flex;
    justify-content: flex-end;
    color: gray;
    width: 69%;
    font-size: 10px;
    font-weight: 50px;
}




/* Born today */

main>div:nth-last-child(4),
main>div:nth-last-child(3),
main>div:nth-last-child(5),
main>div:nth-last-child(6),
main>div:nth-last-child(7),
main>div:nth-last-child(8),
main>div:nth-child(4),
main>div:nth-child(6),
main>div:nth-child(7)
{
    position: relative;
    margin-top: 40px;
}

main>div:nth-last-child(3)>div:first-child, 
main>div:nth-last-child(4)>div:first-child,
main>div:nth-last-child(5)>div:first-child,
main>div:nth-last-child(7)>div:first-child,
main>div:nth-last-child(8)>div:first-child,
main>div:nth-child(6)>div:first-child,
main>div:nth-child(7)>div:first-child
{
    display: flex;
    color: white;
    align-items: center;
    border-left: 5px solid #f2d830;
    padding-left: 10px;
    margin-bottom: 20px;
}


main>div:nth-last-child(3)>div:first-child>h2, 
main>div:nth-last-child(4)>div:first-child>h2,
main>div:nth-last-child(5)>div:first-child>h2,
main>div:nth-last-child(7)>div:first-child>h2,
main>div:nth-last-child(8)>div:first-child>h2,
main>div:nth-child(6)>div:first-child>h2,
main>div:nth-child(7)>div:first-child>h2
{
    padding: 2px 10px;
    margin: 0 10px;
}


main>div:nth-last-child(4)>div:nth-child(2), 
main>div:nth-last-child(7)>div:nth-child(2),
main>div:nth-last-child(8)>div:nth-child(2)
{
    color: gray;
}

main>div:nth-last-child(4)>div:nth-child(3), 
main>div:nth-last-child(3)>div:nth-child(2),
main>div:nth-last-child(5)>div:nth-child(2),
main>div:nth-last-child(7)>div:nth-child(3),
main>div:nth-child(4)>div:nth-child(1)
{
    display: flex;
    position: relative;
}

main>div:nth-last-child(4)>div:nth-child(3)>div, 
main>div:nth-last-child(3)>div:nth-child(2)>div,
main>div:nth-last-child(5)>div:nth-child(2)>div,
main>div:nth-last-child(7)>div:nth-child(3)>div,
main>div:nth-child(4)>div:nth-child(1)>div
{
    display: flex;
    position: absolute; 
    opacity: 0;
    transition: opacity 100ms ease 10ms; 
}

main>div:nth-last-child(4)>div:nth-child(3)>div>a{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    margin: 0 13px;
    opacity: 1;
    transition: opacity 0.5s ease-in 100ms;
    text-decoration: none;
    z-index: 10; 
    /* z-index is needed for hover effect to take place */
}

main>div:nth-last-child(4)>div:nth-child(3)>div>a:hover{
    opacity: 0.7;
}


main>div:nth-last-child(4)>div:nth-child(3)>div>a>img{
    border-radius: 50%;
    width: 205px;
}

main>div:nth-last-child(4)>div:nth-child(3)>div>a>h3{
    margin: 0;
    padding: 0;
    margin-top: 15px;
    font-weight: 500;
}

main>div:nth-last-child(4)>div:nth-child(3)>div>a>p{
    margin: 0;
    margin-top: 7px;
    color: gray;
    font-weight: 500;
}


main>div:nth-last-child(4)>div:nth-child(3)>input:checked + div,
main>div:nth-last-child(3)>div:nth-child(2)>input:checked + div,
main>div:nth-last-child(5)>div:nth-child(2)>input:checked + div,
main>div:nth-last-child(7)>div:nth-child(3)>input:checked + div,
main>div:nth-child(4)>div:nth-child(1)>input:checked + div
{
    position: static;
    animation: 4s linear 10ms slidein;
    animation-fill-mode: forwards;
    
}

@keyframes slidein {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 10;
    }
    20%{
        opacity: 20;
    }
    30%{
        opacity: 30;
    }
    40%{
        opacity: 40;
    }
    50%{
        opacity: 50;
    }
    60%{
        opacity: 60;
    }
    70%{
        opacity: 70;
    }
    80%{
        opacity: 80;
    }
    90%{
        opacity: 90;
    }
    100%{
        opacity: 100;
    }
    
}


main>div:nth-last-child(4)>div:nth-child(3)>label,
main>div:nth-last-child(3)>div:nth-child(2)>label,
main>div:nth-last-child(5)>div:nth-child(2)>label,
main>div:nth-last-child(7)>div:nth-child(3)>label,
main>div:nth-child(4)>div:nth-child(1)>label
{
    background-color: rgba(0,0,0,0.4);
    color: white;
    position: absolute;
    transform: translateY(80px);
    border-radius: 50%;
    z-index: 10;
    border: 2px solid white;
    transition: all 1ms ease-in 100ms;
    cursor: pointer;
    display: none;
}

main>div:nth-last-child(4)>div:nth-child(3)>label>span,
main>div:nth-last-child(3)>div:nth-child(2)>label>span,
main>div:nth-last-child(5)>div:nth-child(2)>label>span,
main>div:nth-last-child(7)>div:nth-child(3)>label>span,
main>div:nth-child(4)>div:nth-child(1)>label>span
{
    font-size: 50px;
    display: flex;
    align-items: center;

}

main>div:nth-last-child(4)>div:nth-child(3)>label:hover,
main>div:nth-last-child(3)>div:nth-child(2)>label:hover,
main>div:nth-last-child(5)>div:nth-child(2)>label:hover,
main>div:nth-last-child(7)>div:nth-child(3)>label:hover,
main>div:nth-child(4)>div:nth-child(1)>label:hover
{
    color:#f2d830;
    border-color: #f2d830;
    background-color: rgba(29, 28, 28, 0.856);
}

.next{
    right: 0;

}

.prev{
    left: 0;
}

#born-today-carousel-1:checked ~ .born-today-control-1,
#born-today-carousel-2:checked ~ .born-today-control-2,
#born-today-carousel-3:checked ~ .born-today-control-3,
#born-today-carousel-4:checked ~ .born-today-control-4,
#born-today-carousel-5:checked ~ .born-today-control-5,
#top-news-carousel-1:checked ~ .top-news-control-1,
#top-news-carousel-2:checked ~ .top-news-control-2,
#editors-picks-carousel-1:checked ~ .editors-picks-control-1,
#editors-picks-carousel-2:checked ~ .editors-picks-control-2,
#editors-picks-carousel-3:checked ~ .editors-picks-control-3,

#coming-soon-carousel-1:checked ~ .coming-soon-control-1,
#coming-soon-carousel-2:checked ~ .coming-soon-control-2,
#coming-soon-carousel-3:checked ~ .coming-soon-control-3,
#coming-soon-carousel-4:checked ~ .coming-soon-control-4,
#coming-soon-carousel-5:checked ~ .coming-soon-control-5,

#featured-today-carousel-1:checked ~ .featured-today-control-1,
#featured-today-carousel-2:checked ~ .featured-today-control-2,
#featured-today-carousel-3:checked ~ .featured-today-control-3

{
    display: block;
}

/* top box office */



main>div:nth-last-child(8)>div:nth-child(3){
    display: flex;
    justify-content: flex-start;
}

main>div:nth-last-child(8)>div:nth-child(3)>div{
    width: 50%;
}

main>div:nth-last-child(8)>div:nth-child(3)>div>a{
    display: flex;
    text-decoration: none;
    color: white;
    align-items: center;
    margin: 20px 7px;
    opacity: 1;
    transition: opacity 100ms ease-in 10ms;
    z-index: 10;
}

main>div:nth-last-child(8)>div:nth-child(3)>div>a:hover{
    opacity: 0.7;
}



main>div:nth-last-child(8)>div:nth-child(3)>div>a>h3{
    padding: 0 10px;
    border-right:2px solid #f2d830;
}

main>div:nth-last-child(8)>div:nth-child(3)>div>a>span{
    padding: 0 10px;
    font-size: 50px;
    color:rgba(100, 93, 93, 0.945);
}

main>div:nth-last-child(8)>div:nth-child(3)>div>a>div>h3{
    font-weight: 400;
    margin: 0;
}

main>div:nth-last-child(8)>div:nth-child(3)>div>a>div>h4{
    font-weight: 400;
    color: gray;
    margin: 0;
    margin-top: 6px;
}


/* what to watch */

main>div:nth-child(6)>div:nth-child(2){
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    position: relative;
}


main>div:nth-child(6)>div:nth-child(2)>a{
    position: absolute;
    right: 10px;
    top: -130px;
    color:slateblue;
}

main>div:nth-child(6)>div:nth-child(2)>span{
    font-size: 50px;
}

main>div:nth-child(6)>div:nth-child(2)>h3{
    margin: 0;
    margin-top: 20px;
}

main>div:nth-child(6)>div:nth-child(2)>h4{
    font-weight: 400;
    margin: 10px;
}

main>div:nth-child(6)>div:nth-child(2)>div{
    margin-top: 15px;
    background-color: #f3d40b;
    padding: 10px 30px;
    border-radius: 5px;
}

main>div:nth-child(6)>div:nth-child(2)>div>a{
    text-decoration: none;
    color:rgb(34, 33, 33);
}




















/* coming soon */

main>div:nth-last-child(7)>div:nth-child(3)>div>a{
    text-decoration: none;
    color: white;
    margin: 0 20px;
    position: relative;
}

main>div:nth-last-child(7)>div:nth-child(3)>div>a>img{
    height: 250px;
    width: 425px;
}


main>div:nth-last-child(7)>div:nth-child(3)>div>a>section:last-child{
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
}

main>div:nth-last-child(7)>div:nth-child(3)>div>a>section:last-child>span:first-child{
    font-size: 40px;
    margin-right: 15px;

}

main>div:nth-last-child(7)>div:nth-child(3)>div>a>section:last-child>section>h5{
    color: gray;
    font-size: 17px;
    margin: 0;
    padding: 0;
}

main>div:nth-last-child(7)>div:nth-child(3)>div>a>section:last-child>section>h3{
    margin: 0;
    margin-top: 5px;
}



/* featured today */

.next1{
    right: 33%;
}




















/* editors-picks */



main>div:nth-last-child(5)>div:nth-child(2)>div>a, 
main>div:nth-child(4)>div:nth-child(1)>div>a
{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    margin: 0 20px;
    text-decoration: none;
    opacity: 1;
    transition: opacity 100ms ease 2ms;
    z-index: 10;
}

main>div:nth-last-child(5)>div:nth-child(2)>div>a:hover,
main>div:nth-child(4)>div:nth-child(1)>div>a:hover
{
    opacity: 0.7;
}


main>div:nth-last-child(5)>div:nth-child(2)>div>a>section, 
main>div:nth-last-child(7)>div:nth-child(3)>div>a>section:first-child,
main>div:nth-child(4)>div:nth-child(1)>div>a>section
{
    position: absolute;
    display: flex;
    align-items: center;
    color: white;
    transform: translateY(190px);
    width: 30%;
    justify-content: space-evenly;
    transition: color;
    z-index: 100;
    font-weight: 500;
}

main>div:nth-last-child(5)>div:nth-child(2)>div>a>section>span:first-child,
main>div:nth-last-child(7)>div:nth-child(3)>div>a>section:first-child>span:first-child,
main>div:nth-child(4)>div:nth-child(1)>div>a>section>span:first-child

{
    font-size: 40px;
    
}

main>div:nth-last-child(5)>div:nth-child(2)>div>a>section:hover,
main>div:nth-last-child(7)>div:nth-child(3)>div>a>section:hover,
main>div:nth-child(4)>div:nth-child(1)>div>a>section:hover
{
    color:rgb(248, 197, 102);
}

main>div:nth-last-child(5)>div:nth-child(2)>div>a>h3,
main>div:nth-child(4)>div:nth-child(1)>div>a>h3
{
    color: white;
    text-decoration: none;
    text-decoration-color: black;
    transition: all 100ms ease-out 10ms;
    z-index: 10;
}

main>div:nth-last-child(5)>div:nth-child(2)>div>a>h3:hover,
main>div:nth-child(4)>div:nth-child(1)>div>a>h3:hover
{
    text-decoration: underline;
    text-decoration-color: white;

}



/* Top news */

main>div:nth-last-child(3)>div:nth-child(2)>div>a{
    display: flex;
    color: white;
    text-decoration: none;
    margin: 10px;
    font-weight: 400px;
    width: 450px;
    opacity: 1;
    transition: opacity 100ms ease-in 2ms;
    z-index: 10;
}

main>div:nth-last-child(3)>div:nth-child(2)>div>a:hover{
    opacity: 0.7;
}

main>div:nth-last-child(3)>div:nth-child(2)>div>a>img{
    margin-right: 20px;
    height: 100%;
}

main>div:nth-last-child(3)>div:nth-child(2)>div>a>div>h3{
    font-size: 18px;
}

main>div:nth-last-child(3)>div:nth-child(2)>div>a>div>p{
    font-size: 13px;
}

main>div:nth-last-child(3)>div:nth-child(2)>label{
    transform: translateY(55px);
}


main>div:nth-last-child(3)>div:last-child{
    display: flex;
    color: white;
}

main>div:nth-last-child(3)>div:last-child>div{
    border: 2px solid white;
    padding: 8px;
    margin: 10px;
    border-radius: 20px;
}


/* Recently viewed */


main>div:nth-last-child(2){
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

main>div:nth-last-child(2)>div:first-child>h2{
    color: white;
    border-left: 5px solid #f2d830;
    border-radius: 2px;
    padding-left: 10px;
}

main>div:nth-last-child(2)>div:first-child>h3{
    color: gray;
}

main>div:nth-last-child(2)>div:last-child{
    display: flex;
    width: 100%;
}

main>div:nth-last-child(2)>div:last-child>a{
    padding: 10px;
    flex-grow: 1;
    text-decoration: none;
    color: white;
}

main>div:nth-last-child(2)>div:last-child>a>img{
    width: 100%;
}


main>div:nth-last-child(2)>div:last-child>a>h3{
    font-size: 20px;
}

main>div:nth-last-child(2)>div:last-child>a>h3:hover{
    color: gray;
}

main>div:nth-last-child(2)>div:last-child>a>p{
    font-size: 13px;
    color: gray;
    font-weight: 600;
}









main>div:nth-last-child(1){
    color: white;
    padding-left: 10px;
}

main>div:nth-last-child(1)>h2{
    padding-left: 10px;
    padding-bottom: 10px;
}

main>div:nth-last-child(1)>p{
    padding: 20px;
    padding-left: 10px;

}

/* footer */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer>div{
    width: 80%;
    color: white;
    padding: 10px 0;
}

footer>div>div:first-child{
    display: flex;
    justify-content: center;
}

footer>div>div:first-child>a>img{
    background-color: white;
    margin: 25px;
    height: 25px;
    border-radius: 5px;

}

footer>div>div{
    display: flex;
    justify-content: center;
    align-items: center;
}


footer>div>div:nth-child(2)>p>a, footer>div>div:nth-child(3)>p>a{
    text-decoration: none;
    color: white;
}

footer>div>div:nth-child(2)>p>span, footer>div>div:nth-child(3)>p>span{
    margin-left: 10px;
    font-size: 15px;
}

footer>div>div:nth-child(2)>p>a:hover, footer>div>div:nth-child(3)>p>a:hover{
    text-decoration: underline;
}


footer>div>div:nth-child(2)>p, footer>div>div:nth-child(3)>p{
    display: flex;
    align-items: center;
    margin: 20px;
}

footer>div>div:nth-last-child(2)>img{
    height: 30px;
    margin: 0 10px;
}

footer>div>div:nth-last-child(2){
    margin: 20px;
    padding: 10px;
}

footer>div>div:nth-last-child(1){
    color: gray;
    font-size: 12px;
    font-weight: 300;

}










































